<section>
    <div class="image left circular">
        <img src="/kim2.png" alt="Alt text for the image">
    </div>
    <blockquote style="font-style: italic;">
        “Having referred many patients to Kim for trauma therapy, I can attest to her skillful manner, her perceptive assessment of a client’s internal terrain and needs; and her compassionate approach that shows true concern for her clients. These qualities, coupled with her thorough training and deep experience in working with those who have incurred trauma, make her a rare and exceptional therapist.”
    </blockquote>
    <cite style="font-size: smaller; font-style: normal;">
        —Boulder functional medicine physician
    </cite>
</section>