<section class="custom-color-section">
    <h3>Counseling Services</h3>
    <ul>
        <li><a href="#"><b>Couples</b></a></li>
        <li><a href="/counseling-services/individuals">Individuals</a></li>
        <li><a href="/counseling-services/individuals/#trauma-therapy">Trauma</a></li>
    </ul>
</section>
<section>
    <div class="image left non-circular">
        <img src="/couples.png" alt="Alt text for the image">
    </div>
    <br><br><br><br><br>
    <blockquote style="font-style: italic;">
        “We are so thankful for Kim and the work that she does. Her direct approach, methods and patience helped save our relationship, and made a real difference in how we relate to ourselves and each other, and for that, we are so grateful. We would absolutely work with her again, and suggest her to all of our friends and family.”
    </blockquote>
    <cite style="font-size: smaller; font-style: normal;">
        — jason and alesya c.
    </cite>
</section>