<section>
    <i class="custom-accent-text">I am a second generation, Master Pilates Teacher.  I began my exploration of Pilates in my late teens under the loving and firm hands of Kathy Grant who mentored and yelled at me until she gave up and invited me to be her assistant and substitute teacher.</i> 
</section>
<section>
    <div class="image left">
        <img src="/pilates.png" alt="Alt text for the image">
    </div>
</section>
<section>
    <p><em class="custom-accent-text">I have the rare and great honor of being one of the only people Kathy ever trained in the art of teaching the intricacies of her work as well as the classical Pilates method. I have been professionally teaching Pilates since 1979 starting with Kathy Grant’s Gym at Henri Bendel in New York City, later at The Pilates Center in Boulder, Colorado where I was on staff as a Senior Teacher, Presenter, and Tester of The Pilates Center Teacher Training and Masters Program.</em></p>
    <p><em class="custom-accent-text">I continue to enjoy teaching at different studios around the world and offering workshops internationally. I also offer lessons to professionals via zoom or in person.</em></p>
</section>