<section class="custom-color-section">
    <h3>Pilates</h3>
    <ul>
        <li><a href="/pilates/#mentoring-groups"><b>Workshops</b></a>
            <ul>
                <li><a href="#stillness-in-motion">Stillness in Motion—Cranial Sacral for Pilates teachers</a></li>
                <li><a href="#a-new-approach-to-pilatespilates-and-the-autonomic-nervous-system">A New Approach to Pilates—Pilates and the Autonomic Nervous System</a></li>
                <li><a href="#kathy-grants-early-work">Kathy Grant’s Early Work</a></li>
                <li><a href="#the-magic-of-springs">The Magic of Springs</a></li>
                <li><a href="#the-forgotten-exercises">The Forgotten Exercises</a></li>
            </ul>            
        </li>
        <li><a href="/pilates/#mentoring-groups">Mentoring Groups</a></li>
        <li><a href="/pilates/#private-lessons">Privates</a></li>
    </ul>
</section>
<section>
    <div class = "non-circular">
        <img src="/pilates.png" alt="Alt text for the image">
    </div>
    <blockquote style="font-style: italic;">
        “Kim has a lovely manner of teaching; it is non -judgemental, filled with warmth, firmness and assuredness which makes learning from her easy and fun. She really places the information in our hands allowing the student to become independent.  She is warm and approachable and shares her experience and history without airs nor ego involvement - an absolute breath of fresh air."
    </blockquote>
    <cite style="font-size: smaller; font-style: normal; text-align: right !important;">
        — Mira A. Vancouver B.C.
    </cite>
</section>
<section>
    <blockquote class="right-aligned">
        “This was an amazing workshop. Kim gave me back to myself and encouraged my love for teaching Pilates and appreciating my clients. She is awesome.”
    </blockquote>
    <div class="custom-quote-cite right-aligned">
        — Roseanne P. Los Angeles, CA
    </div>
</section>
<section>
<blockquote style="font-style: italic;">
    “I now have ways of acknowledging nervous system responses and tools to deal with them. Such a gift”
</blockquote>
<cite style="font-size: smaller; font-style: normal;">
    — Laurel S.  Chicago, Ill
</cite>
</section>
<section>
    <blockquote class="right-aligned">
        “The autonomic nervous system work is useful and powerful and was presented in a calming and simple way.”
    </blockquote>
    <div class="custom-quote-cite right-aligned">
        — E.L.    Vancouver, B.C.
    </div>
</section>
<section>
<blockquote style="font-style: italic;">
    “Kim touched everyone in the studio with her presence. She is a great feeler of energy. With one look she could calm me down. Really cool stuff!“
</blockquote>
<cite style="font-size: smaller; font-style: normal;">
    — Jack C  Lowell, Mass.
</cite>
</section>
<section>
    <blockquote class="right-aligned">
        “It was the first workshop I attended in many, many years, where everyone was engaged and interested. What a terrific presentation. Kim is making a significant contribution to the Pilates community with her insights and understanding of the autonomic nervous system.”
    </blockquote>
    <div class="custom-quote-cite right-aligned">
        — Kathy M., Minnesota
    </div>
</section>
<section>
    <blockquote style="font-style: italic;">
        “Kim is such an inspiration. She truly teaches from the heart and it shows. She has amazing healing energy, she is very informative and very down to earth.“
    </blockquote>
    <cite style="font-size: smaller; font-style: normal;">
        — B. P. Canmore, AB
    </cite>
    </section>
    <section>
        <blockquote class="right-aligned">
            “Kim has a genuine respect for and knowledge of not only Kathy’s work, but for the bodies in front of her. ”
        </blockquote>
        <div class="custom-quote-cite right-aligned">
            — Kristin O.  Somerville,  MA
        </div>
    </section>

    <section>
        <blockquote style="font-style: italic;">
            “I feel like I have a completely new idea of how to work with the equipment and how to approach teaching. I am very excited to use what I have learned.“
        </blockquote>
        <cite style="font-size: smaller; font-style: normal;">
            — Vanessa W. Madison, WI
        </cite>
        </section>
        <section>
            <blockquote class="right-aligned">
                “Wow! Wish I had learned this sooner.”
            </blockquote>
            <div class="custom-quote-cite right-aligned">
                — BR,  Alberta, Ca.
            </div>
        </section>

        <section>
            <blockquote style="font-style: italic;">
                “Kim is wonderful, open and inspiring.”
            </blockquote>
            <cite style="font-size: smaller; font-style: normal;">
                — Anonymous Boulder , CO
            </cite>
            </section>
            <section>
                <blockquote class="right-aligned">
                    “Kim exudes the spirit of Kathy Grant .”
                </blockquote>
                <div class="custom-quote-cite right-aligned">
                    — — Cindy H   Milwaukee, WI
                </div>
            </section>