/* This file intentionally left blank.
 * Put your custom CSS into your (not the theme's) assets/sass/custom.scss
 */

 .circular {
/*     width: 220px;      /* Width of the container */
/*     height: 220px;     /* Height of the container, should be the same as width */
    overflow: hidden;  /* Ensures nothing spills outside the container */
    border-radius: 50%; /* Rounds the container's corners */
    display: flex;     /* Utilizing flexbox for centering */
    justify-content: center;
    align-items: center;
}

.circular img {
    width: auto;       /* Maintains the aspect ratio */
    height: 100%;      /* Fills the container height */
    object-fit: cover; /* Covers the container, useful for non-square images */
}

.circular + blockquote {
    margin-left: -10px; /* Adds margin to a blockquote that directly follows an image */
}

.index-banner {
    width: 100%; /* Makes the container span the full width of the screen */
    height: 225px; /* Fixed height of the container */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Hides parts of the image that overflow the container */
    position: relative; /* Needed for absolute positioning of the quote */
}

.index-banner img {
    width: 100%; /* Image spans the full width of its container */
    height: auto; /* Allows the image height to adjust */
    object-fit: cover; /* Ensures the image covers the container, may crop the image */
}


.banner-quote {
    position: absolute;  /* Positions the quote over the image */
    top: 50%;           /* Centers vertically */
    left: 50%;          /* Centers horizontally */
    transform: translate(-50%, -50%); /* Aligns center of quote with center of container */
    color: black;       /* Sets the text color */
    text-align: center; /* Centers the text inside the quote box */
    width: auto;         /* Adjust the width as needed */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5); /* Adjust color and opacity as needed */
    padding: 10px; /* Add some padding around the text */
    border-radius: 8px; /* Optional: rounds the corners */
    line-height: 1.4; /* Adjust as needed */
    letter-spacing: 1px;

    /* Additional styling as needed (e.g., font size, font family) */
}

.image.right {
    float: right;
    margin-left: 20px; /* Adjust as needed */
}

.right-aligned {
    text-align: right;
}

/* Optional: if you want to right align the text inside the blockquote */
.right-aligned blockquote {
    text-align: right;
}

.right-aligned cite {
    text-align: right;
}

.image.left {
    float: left;
    margin-right: 20px; /* Adjust as needed */
}

.left-aligned {
    text-align: left;
}

/* Optional: if you want to left align the text inside the blockquote */
.left-aligned blockquote {
    text-align: left;
}
