/* This file intentionally left blank.
 * Put your custom CSS into your (not the theme's) assets/sass/custom.scss
 */

 $accent-color: #879e69;  // Example: Replace with your actual accent color variable or value

blockquote, .custom-quote-cite-right, .custom-quote-cite-left, cite {
    color: $accent-color;
}

 .circular {
/*     width: 220px;      /* Width of the container */
/*     height: 220px;     /* Height of the container, should be the same as width */
    overflow: hidden;  /* Ensures nothing spills outside the container */
    border-radius: 50%; /* Rounds the container's corners */
    display: flex;     /* Utilizing flexbox for centering */
    justify-content: center;
    align-items: center;
}

.circular img {
    width: auto;       /* Maintains the aspect ratio */
    height: 100%;      /* Fills the container height */
    object-fit: cover; /* Covers the container, useful for non-square images */
}

.circular + blockquote {
    margin-left: -10px; /* Adds margin to a blockquote that directly follows an image */
}

.non-circular {
    overflow: hidden;  /* Ensures nothing spills outside the container */
    display: flex;     /* Utilizing flexbox for centering */
    justify-content: center;
    align-items: center;
}

.non-circular img {
    width: auto;       /* Maintains the aspect ratio */
    height: 100%;      /* Fills the container height */
    object-fit: cover; /* Covers the container, useful for non-square images */
}


.index-banner {
    width: 100%; /* Makes the container span the full width of the screen */
    height: 225px; /* Fixed height of the container */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Hides parts of the image that overflow the container */
    position: relative; /* Needed for absolute positioning of the quote */
}

.index-banner img {
    width: 100%; /* Image spans the full width of its container */
    height: auto; /* Allows the image height to adjust */
    object-fit: cover; /* Ensures the image covers the container, may crop the image */
}


.banner-quote {
    position: absolute;  /* Positions the quote over the image */
    top: 50%;           /* Centers vertically */
    left: 50%;          /* Centers horizontally */
    transform: translate(-50%, -50%); /* Aligns center of quote with center of container */
    color: black;       /* Sets the text color */
    text-align: center; /* Centers the text inside the quote box */
    width: auto;         /* Adjust the width as needed */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5); /* Adjust color and opacity as needed */
    padding: 10px; /* Add some padding around the text */
    border-radius: 8px; /* Optional: rounds the corners */
    line-height: 1.4; /* Adjust as needed */
    letter-spacing: 1px;

    /* Additional styling as needed (e.g., font size, font family) */
}

.image.right {
    float: right;
    margin-left: 20px; /* Adjust as needed */
}

.right-aligned {
    text-align: right;
}

/* Optional: if you want to right align the text inside the blockquote */
.right-aligned blockquote {
    text-align: right;
}

.right-aligned cite {
    text-align: right;
}

.image.left {
    float: left;
    margin-right: 20px; /* Adjust as needed */
}

.left-aligned {
    text-align: left;
}

/* Optional: if you want to left align the text inside the blockquote */
.left-aligned blockquote {
    text-align: left;
}
// Navigation text color
.nav-bar {
    a, .menu-link {
      color: #608284; // Blue-ish color for navigation text
    }
  
    // Add a green line under the active navigation item
    .active {
      border-bottom: 2px solid #879e69; // Green color for the line
    }
  }
  // Body text color
body {
    color: #9a9999; // Body type color
  }
  
  // Subhead text color
  h1, h2, h3, h4, h5, h6 {
    color: #474747; // Subhead type color
  }
.nav-bar {
    background-color: #FFFFFF; // White background
}
.icon.major {
    text-align: center;      /* Keeps text-align as center */
    cursor: default;         /* Keeps cursor as default */
    background-color: transparent; /* Resets or changes the background color */
    background-image: none;  /* Removes the background image */
    color: initial;          /* Resets the color to default */
    border-radius: initial;  /* Resets the border-radius */
    display: inline-block;   /* Keeps display as inline-block */
    width: auto;             /* Changes width */
    height: auto;            /* Changes height */
    line-height: normal;     /* Resets line-height */
    box-shadow: none;        /* Removes box-shadow */
    margin: 0;               /* Resets margin */
}
body {
    background: _palette(bg) }

thead {
    background-color: #7d7f7a;
    color: #fff;
}
#header {
    background-color: #fff; /* Sets the background color */
    background-image: none; /* Removes the background image */
}
#nav {
    background-color: rgb(255, 255, 255); /* Sets the background color */
    background-image: none; /* Removes the background image */
}
#nav > ul > li > a {
    color: rgb(96, 130, 132); /* Replace with the color you want */
}
#nav > ul > li:hover > a {
    color: rgb(76, 110, 112); /* Text color change on hover */
}

#nav > ul > li:current > a {
    color: rgb(96, 130, 132); /* Text color for the currently selected link */
}

#nav > ul > li.current a {
    color: rgb(96, 130, 132); /* Text color for the currently selected link */
}

#nav > ul > li:active > a {
    color: rgb(96, 130, 132); /* Color change on active */
}
.box.post .image {
    display: block; /* Makes the image a block element */
    margin: 0 auto; /* Centers the image horizontally */
}
// input[type="submit"].alt,
// input[type="reset"].alt,
// input[type="button"].alt,
// button.alt,
// .button.alt {
//     background-color: #555555;
//     color: #fff;
// }

// input[type="submit"].alt:hover,
// input[type="reset"].alt:hover,
// input[type="button"].alt:hover,
// button.alt:hover,
// .button.alt:hover {
//     background-color: lighten(#555555, 5);
// }

// input[type="submit"].alt:active,
// input[type="reset"].alt:active,
// input[type="button"].alt:active,
// button.alt:active,
// .button.alt:active {
//     background-color: darken(#555555, 5);
// }
@include breakpoint('<=narrower') {
    .box.post .image {
        display: block; /* Makes the image a block element */
        margin: 0 auto; /* Centers the image horizontally */
    }
    
//     #titleBar {
//         background-color: #333; /* Background color for titleBar on narrow screens */
//         .title {
//             color: #fff; /* Text color for .title on narrow screens */
//         }
        
//         // .toggle {
//         //     background-color: #fff; /* Background color for .toggle on narrow screens */
//         // }
//     }
    #navPanel {
        background-color: #1f1f1f; /* Background color for navPanel on narrow screens */
        .link {
            color: #888; /* Text color for .link on narrow screens */
        &.depth-0 {
            color: #fff;
            }
         }
    }
}
@include breakpoint('<=mobilep') {
    .box.post .image {
        display: block; /* Makes the image a block element */
        margin: 0 auto; /* Centers the image horizontally */
    }
}

// .dropotron {
//     background-color: #333; /* Background color for .dropotron */
//     color: #fff; /* Text color for .dropotron */

//     > li {
//         > a {
//             color: #c0c0c0; /* Text color for .dropotron > a */
//             text-decoration: none;
//             border: 0;
//         }

//         &.active,
//         &:hover {
//             > a {
//                 color: #fff; /* Text color for .dropotron > a on hover */
//             }
//         }
//     }
// }

/* Override Footer Styles */
#footer {
    background-color: #000; /* Set the background color to black */
    padding: 4em 0 8em 0;

    a {
        color: _palette(fg-light); /* Change link text color to a lighter shade */
        border-bottom-color: transparentize(_palette(fg), 0.75);

        &:hover {
            color: _palette(accent, bg); /* Change link color on hover */
            border-bottom-color: transparent;
        }
    }

    .container {
        margin-bottom: 4em;
    }

    .icons {
        text-align: center;
        margin: 0;

        a {
            color: _palette(fg); /* Change icon color to match text color */

            &:hover {
                color: _palette(accent, bg); /* Change icon color on hover */
            }
        }
    }

    .copyright {
        color: _palette(fg); /* Change copyright text color to match text color */
        margin-top: 1.5em;
        text-align: center;
        font-size: 0.9em;
    }
}

blockquote {
    /* Padding inside the blockquote */
    padding: 0.5em 0 0 0; /* Top, Right, Bottom, Left */
    font-style: italic;
    font-weight: 600; /* Makes the text in blockquote bolder */    

    /* Margin around the blockquote */
    margin: 0.5em 0 0.25em 0; /* Top, Right, Bottom, Left */

    /* Other properties you might want to adjust */
    border-left: none; /* Removes the left border */
    font-style: italic;
}
// cite.right-aligned {
//     text-align: right !important;
// }
// section cite.right-aligned {
//     text-align: right !important;
// }

section .custom-quote-cite.right-aligned {
    text-align: right;
    font-size: smaller;
    font-style: normal;
    color: $accent-color;
}
section .custom-quote-cite.left-aligned {
    text-align: left;
    font-size: smaller;
    font-style: normal;
    color: $accent-color;
}

.custom-color-section h3, .custom-color-section ul li a {
    color: #608284; /* Color for links within the specific section */
}

.custom-color-section .image-caption {
    text-align: center; /* Center align the text */
    color: $accent-color; /* Replace with your accent color */
    /* Add other styles as needed, like font-size, margin, etc. */
}
