<section class="wrapper style1">
    <div class="container">
        <div class="row gtr-200">
            {{- $item_cols := (div 12 (.item.items_per_row | default 3)) }}
            {{- range .item.items }}
                <section class="col-{{ $item_cols }} col-12-narrower">
                    <div class="box highlight img">
                        <!-- <i class="icon solid major {{ .icon }}"></i> -->
                        <a href="{{ .url }}">
                            <img src="{{ .image }}" alt="{{ .title }}">
                        </a>
                        <a href="{{ .url }}">
                            <h3>{{ .title }}</h3>
                        </a>
                        <p>
                            {{ .content | markdownify }}
                            <a href="{{ .url }}">Learn more...</a>
                        </p>                        
                    </div>
                </section>
            {{- end }}
        </div>
    </div>
</section>
